<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Target to write logs to a file -->
		<target xsi:type="File" name="fileTarget" fileName="logs.txt" />
	</targets>

	<rules>
		<!-- Rule to send logs to the file target -->
		<logger name="*" minlevel="Debug" writeTo="fileTarget" />
	</rules>
</nlog>
